<div class="container mt-5">
    <h3>Account List</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Account ID</th>
          <th>Account Holder</th>
          <th>Email</th>
          <th>Balance</th>
          <th>Created At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{ account.accountId }}</td>
          <td>{{ account.accountHolder }}</td>
          <td>{{ account.email }}</td>
          <td>{{ account.balance | currency }}</td>
          <td>{{ account.createdAt | date: 'short' }}</td>
          <td>
            
            <button class="btn btn-danger btn-sm" (click)="deleteAccount(account.accountId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  